@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

:root {
  --darkblue: #0A1128;
  --pennblue: #001F54;
  --indigoblue: #034078;
  --lightblue: #1282A2;
  --white: #FEFCFB;
  --opacityblue: rgba(18,130,162,0.31);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.innerContainer {
  flex-basis: 1200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.mainContainer {
  flex-grow: 1;
}

.errorMessage {
  color: red;
  font-size: 1.5rem;
  margin: 1rem;
}

